/* .image {
    max-width: 100%;
    opacity: 0;

  }
  
  @keyframes fadeIn {
    from {
      width: 0;
      opacity: 0;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }
  
  @keyframes fadeInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .image {
    animation: fadeIn 1.5s forwards;
  }
   */
